<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
  
    <classes>
<!--       <class name="Selenium.Selenium.AllegisgroupJobSerch"/> -->
<!--       <class name="Selenium.Selenium.AllegisgroupJobSerch2"/> -->
<!--       <class name="Selenium.Selenium.AllegisgroupJobSerch3"/> -->
<!--       <class name="Selenium.Selenium.AppTest"/> -->
<!--       <class name="Selenium.Selenium.HowToReadDataFromExcel"/> -->
<!--       <class name="Selenium.Selenium.FramesHandlingExample"/> -->
<!--       <class name="Selenium.Selenium.sample"/> -->
<!--       <class name="Selenium.Selenium.MouseActionsExample"/> -->
      <class name="Selenium.Selenium.WindowHandleExamplebasics"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
